/* Home_Page*/

.first{
display: flex;
flex-direction : column;
background-color : 'white';
height : 100vh;
background-image : url("/assets/2.jpg");
background-size: cover;
background-position: center;
background-repeat:no-repeat;

}
.hh{
  height : 80px;
  width: 80px;

}
.hhh{
 height : 600px;
  width: 600px;
}
.hhhh{
 height : 700px;
  width: 800px;
}
.formulaire{
padding : 10px;
}

.hhhhhhhhhhh{
margin-top : 10px;
margin-bottom : 10px;
width : 200px;
height : 50px;
font: italic 1.2em "Fira Sans", serif;
font-size: 25px ;
font-weight: bolder;
background-color : #8de3fb;
color : #0f5587
}
.hhhhhhhhhhhZ{
margin-top : 10px;
margin-bottom : 10px;
margin-right : 10px;

width : 200px;
height : 50px;
font: italic 1.2em "Fira Sans", serif;
font-size: 25px ;
font-weight: bolder;
background-color : #8de3fb;
color : #0f5587
}

.trrrrr{
margin : auto;
padding : 30px;
border-radius : 10px;
width: 100vh;
background-color: #dbebf2;
border: 1px solid black;
opacity: 0.97 ;
box-shadow: 5px 3px 3px black  ;
}
.theParagraph{
color : #0f5587;
font: italic 1.2em "Fira Sans", serif;
font-size: 32px ;
font-weight: bolder;
margin-left : 8vh;
margin-right : 8vh;
margin-bottom :1vh
}
.LogoAndTitle{
display: flex;
padding-top:10px;
padding-bottom:7px;
padding-left : 10vh;
background-color: #8de3fb;
border-radius: 5px;
border-bottom: 2px solid blue;

}
.titre{
color : #0f5587;
font: italic 1.2em "Fira Sans", serif;
font-size: 62px ;
font-weight: bolder;
margin-left : 6vh;

}
.second{
flex-direction : column;
align-items: center;
justify-content: center;
width : 50%;
margin : auto;
}

/*-------------------------------------------------------*/

.TabStyle{
width : 30vh;
box-shadow: 1px  1px black  ;
font-size : 17px

}
/* les 2 tabs */

.Tab2Content{
display:flex;
align-items : center;
justify-content: center;
flex-direction : column;
flex-wrap:wrap;
height: 90vh;
}
.Tab3Content{
display:flex;
align-items : center;
justify-content: center;
flex-direction : column;
flex-wrap:wrap;
}
.EnglobTwoBlock{
display :none;
}

.FirstBlock {
display: flex;
flex-direction: row;
width: 95vw;
flex-wrap: wrap;
}

.Tab2Content2{
display : flex;
align-items : center;
justify-content: center;
flex-direction : column;
flex-wrap:wrap;
display: none;

}
.Galoupi{
border : solid 1px black;
width : 850px;
margin: 20px;
}
.GaloupiNMF2{
border : solid 1px black;
width : 850px;
margin: 20px;
}
.GaloupiNMF3{
border : solid 1px black;
width : 850px;
margin: 20px;
}
.GaloupiNMF4{
display :none;
border : solid 1px black;
width : 850px;
margin: 20px;
}

.Galoupi2{
display:none;
width : 1500px;
margin: 50px;
}
.Galoupi3{
display:none;
align-items : center;
justify-content: center;
flex-direction : column;
flex-wrap:wrap;
}
.FirstFirstBlock{
display:flex;
flex-direction : column;
}
.SecondBlock{
display: flex;
flex-direction: row;
width: 95vw;
flex-wrap: wrap;

}
.SecondSecondBlock{
display:flex;
flex-direction : column;
margin-top:80px;
}
.NchedInput{
align-self:center;
justify-content:center;
margin-top : 30px;
width : 400px;

}
.ToDisplayDataFrame{
display:flex;
flex-direction : column;
align-items:center

}
/***************Tab1**************/
.EnglobanteSearch{
display:flex;
align-items : center;
justify-content: center;
height:90vh;
}

.EnglobanteDesInput{
border : 1px solid;
padding : 30px;
margin : 10px;
box-shadow: 1px 5px 5px grey;
background-color : #F3F3F3;

}
.ne{
display : flex;
flex-direction:row;
align-items:center;
justify-content:center;
margin:auto;
}

.inputAndSubmit{
padding : 30px;
display : flex;
flex-direction : column;
align-items:center;
width : 800px;
}
.first_input{
margin-bottom : 20px;
width : 700px;
}
.second_input{
margin-bottom : 40px;
width : 400px;
margin-right:10px;
}
.etoite{
display :flex;
align-items:center;
justify-content:center;
margin : 50px;
}
.HideDataFrame{
display:flex
}
.select_input{
margin-bottom : 20px;
width : 300px;

}
.titleofinput{
margin-bottom:15px;
font: italic 1.7em "Fira Sans", serif;
font-weight :bold;
color:#3960A4;


}
/******************/
/* tabulation style */

